<div class="container bgcolor rounded p-3">
<% @blogposts.each do |blogpost| %>
    <div class="container">
        <h3><small>Title: </small><a href="/blogposts/<%= blogpost.id %>"><%= blogpost.title.titleize %></a></h3>
        <h5><small>Written by: </small><a href="/users/<%= blogpost.user.id %>"><%= blogpost.user.username %></a></h4>
        <small><strong>Created: <%= blogpost.created_at %></strong></small>
    </div> 
    <br>   
<% end %>
</div>