<div class="container">

<h1><%= @blogpost.title.titleize %></h1>

<% if Helpers.current_user(session) == @blogpost.user %>
    <button><a href="/blogposts/<%= @blogpost.id %>/edit">Edit</a></button>
    <form action="/blogposts/<%= @blogpost.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>
<% end %>
<br>
<h4><small>Written by: </small><a href="/users/<%= @blogpost.user_id %>"><%= @blogpost.user.username %></a></h4>
<small><strong>Created: <%= @blogpost.created_at %></strong></small>

<% if @blogpost.updated_at.to_i != @blogpost.created_at.to_i %>
    <small><strong>Updated: <%= @blogpost.updated_at %></strong></small>
<% end %>

<br><br>
<div class="border rounded p-3 content"><%= @blogpost.content %></div>
<br><br>

<% @blogpost.comments.each do |comment| %>
    <div class="container">
        <div class="border rounded p-3 content">
            <%= comment.content %><br>
            <small><strong>Created: <%= comment.created_at %></strong></small><br>
            <% if comment.updated_at.to_i != comment.created_at.to_i %>
                <small><strong>Updated: <%= comment.updated_at %></strong></small>
            <% end %><br>
            <small><strong>Posted by: <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a></strong></small>
        </div>    
        <% if comment.user == Helpers.current_user(session) %>
            <button><a href="/comments/<%= comment.id %>/edit">Edit</a></button> 
            <form action="/comments/<%= comment.id %>/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
            </form>
        <% end %>
    </div>
    <br>
<% end %>

<div class="container">
    <form action="/comments" method="post" id="comment_form">
        <input type="hidden" name="blog_post_id" value="<%= @blogpost.id %>">
        <div class="form-group">
            <textarea class="form-control" form="comment_form" name="content">Enter Your Comment Here</textarea>
        </div>    
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>    
</div>